<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Todo</title>
  </head>
  <body>
    <div class="table-container">
      <h2 class="todo-title>">Update Todo</h2>
      <div>
        <a class="btn" href="">Back</a>
        <form action="" method="POST">
          <div class="update-todo">

            <div class="form-group">
              <label for="title" class="text-light">Title</label>
              <br/>
              <input type="text" name="title" value="" placeholder="Type Todo title here"/>
            </div>

            <div class="form-group">
              <label for="description" class="text-light">Description</label>
              <br />
              <textarea name="description" value="" placeholder="Type Todo description here"></textarea>
            </div>
            <div class="form-group">
              <button class="btn" type="submit">Update</button>
            </div>
          </div>
        </form>
      </div>
  </body>
</html>
